# Working with Data - Computer Lab for Guest Lecture Julia Lane

In this computer lab we will learn more more details and practice data work to enhance the content of the lecture presented by Julia Lane on responsible data use. We will address a research question, think about data and measurement errors, and manipulate data. 

OUTLINE: 
1. Define a research question 
2. Think about what data are available 
3. Think about possible measurement errors 
4. Think about the interpretation of your results 
5. Inform your results by linking datasets

# 1. Define a reserach question
Which Community Districts in NYC show the highest number of complaints?

# 2. Think about what data are available
Find suitable data by searching the CUSP Data Catalog https://datahub.cusp.nyu.edu/catalog. You can use Urban Profiler to investigate the Metadata associated with each dataset. Using this tool will help you to decide which attributes of the data you need to answer your question so you don't have to load the entire dataset.

In [2]:
import os
import pandas as pd
import numpy as np
import re
PUIdata = os.getenv('PUIDATA')

In [5]:
# Load dataset
data = pd.read_csv('PUIdata/311_Service_Requests_from_2010_to_Present.csv')
#311_Service_Requests_from_2010_to_Present.csv
data.head()

C:\Users\ferna\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (8,17,40,41,42,43,44,45,46,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,﻿Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,33829274,07/13/2016 09:05:19 AM,07/13/2016 01:23:47 PM,NYPD,New York City Police Department,Drinking,In Public,Park/Playground,11220,3 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.649637,-74.012545,"(40.64963729623603, -74.01254458298696)"
1,33829275,07/13/2016 02:56:47 PM,07/13/2016 11:23:37 PM,NYPD,New York City Police Department,Illegal Parking,Detached Trailer,Street/Sidewalk,11368,WILLETS POINT BOULEVARD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.756925,-73.842563,"(40.75692480744835, -73.84256286836163)"
2,33829276,07/13/2016 08:25:56 PM,07/13/2016 11:05:55 PM,NYPD,New York City Police Department,Illegal Parking,Unauthorized Bus Layover,Street/Sidewalk,10027,2041 7 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.807129,-73.949660,"(40.807129273329735, -73.94965958870036)"
3,33829277,07/13/2016 04:59:27 PM,07/30/2016 01:54:12 PM,FDNY,Bureau of Fire Prevention - Highrise Unit - In...,Fire Safety Director - F58,On Site Test,Street Address,11373,50-07 JACOBUS STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.738124,-73.887360,"(40.73812362690105, -73.88736015670256)"
4,33829278,07/13/2016 08:09:00 PM,07/13/2016 08:50:00 PM,DOT,Department of Transportation,Traffic Signal Condition,Controller,NaN,11361,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.757593,-73.781072,"(40.75759288825877, -73.78107211680171)"

# 3. Think about possible measurement errors
Do you see any problems regarding possible measurement error? Think about who is represented in the data, ommissions, duplications, content error, missing data, etc.

In [7]:
data.columns

Index([u'﻿Unique Key', u'Created Date', u'Closed Date', u'Agency',
       u'Agency Name', u'Complaint Type', u'Descriptor', u'Location Type',
       u'Incident Zip', u'Incident Address', u'Street Name', u'Cross Street 1',
       u'Cross Street 2', u'Intersection Street 1', u'Intersection Street 2',
       u'Address Type', u'City', u'Landmark', u'Facility Type', u'Status',
       u'Due Date', u'Resolution Description',
       u'Resolution Action Updated Date', u'Community Board', u'Borough',
       u'X Coordinate (State Plane)', u'Y Coordinate (State Plane)',
       u'Park Facility Name', u'Park Borough', u'School Name',
       u'School Number', u'School Region', u'School Code',
       u'School Phone Number', u'School Address', u'School City',
       u'School State', u'School Zip', u'School Not Found',
       u'School or Citywide Complaint', u'Vehicle Type',
       u'Taxi Company Borough', u'Taxi Pick Up Location',
       u'Bridge Highway Name', u'Bridge Highway Direction', u'Road Ramp',
       u'Bridge Highway Segment', u'Garage Lot Name', u'Ferry Direction',
       u'Ferry Terminal Name', u'Latitude', u'Longitude', u'Location'],
      dtype='object')

In [26]:
# Check if all Boroughs and Community Districts are represented in the Data 
borough = data['Borough'].unique()
borough

array(['BROOKLYN', 'QUEENS', 'MANHATTAN', 'BRONX', 'Unspecified',
       'STATEN ISLAND'], dtype=object)

In [27]:
len(borough) #should be 5

6

In [23]:
communityB = data['Community Board'].unique()
type(communityB)#.sort_values

numpy.ndarray

In [25]:
len(communityB) #we should have 59

77

Manhattan	
1 2 3 4 5 6 7 8 9 10 11 12
The Bronx	
1 2 3 4 5 6 7 8 9 10 11 12
Brooklyn	
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18
Queens	
1 2 3 4 5 6 7 8 9 10 11 12 13 14
Staten Island	
1 2 3

In [24]:
np.sort(communityB)

array(['0 Unspecified', '01 BRONX', '01 BROOKLYN', '01 MANHATTAN',
       '01 QUEENS', '01 STATEN ISLAND', '02 BRONX', '02 BROOKLYN',
       '02 MANHATTAN', '02 QUEENS', '02 STATEN ISLAND', '03 BRONX',
       '03 BROOKLYN', '03 MANHATTAN', '03 QUEENS', '03 STATEN ISLAND',
       '04 BRONX', '04 BROOKLYN', '04 MANHATTAN', '04 QUEENS', '05 BRONX',
       '05 BROOKLYN', '05 MANHATTAN', '05 QUEENS', '06 BRONX',
       '06 BROOKLYN', '06 MANHATTAN', '06 QUEENS', '07 BRONX',
       '07 BROOKLYN', '07 MANHATTAN', '07 QUEENS', '08 BRONX',
       '08 BROOKLYN', '08 MANHATTAN', '08 QUEENS', '09 BRONX',
       '09 BROOKLYN', '09 MANHATTAN', '09 QUEENS', '10 BRONX',
       '10 BROOKLYN', '10 MANHATTAN', '10 QUEENS', '11 BRONX',
       '11 BROOKLYN', '11 MANHATTAN', '11 QUEENS', '12 BRONX',
       '12 BROOKLYN', '12 MANHATTAN', '12 QUEENS', '13 BROOKLYN',
       '13 QUEENS', '14 BROOKLYN', '14 QUEENS', '15 BROOKLYN',
       '16 BROOKLYN', '17 BROOKLYN', '18 BROOKLYN', '26 BRONX', '27 BRONX',
       '28 BRONX', '55 BROOKLYN', '56 BROOKLYN', '64 MANHATTAN',
       '80 QUEENS', '81 QUEENS', '82 QUEENS', '83 QUEENS', '84 QUEENS',
       '95 STATEN ISLAND', 'Unspecified BRONX', 'Unspecified BROOKLYN',
       'Unspecified MANHATTAN', 'Unspecified QUEENS',
       'Unspecified STATEN ISLAND'], dtype=object)

In [72]:
# How many unique values do we have? 
len(data)

5224347

In [73]:
# Why do we have so many? Some of them are unspecified, missing. Some might be invalid entries. 
# We should have 59 Community Districts.

In [75]:
# Check for duplicates? Are these plausible?
data.drop_duplicates(inplace=True)
len(data)

5224347

In [40]:
# What about missing values? Can you detect any patterns? 
len(pd.isnull(data[:100])==True)

100

In [ ]:
# Data Editing: Is it possible to replace missing values? Is it possible to use Complaint Type 
# to fill missings in Resolution Descriptor?

In [ ]:
# Generate marker for unplausible Community Districts
# How do these districts look like? 

'Unspecified BRONX', 'Unspecified BROOKLYN',
       'Unspecified MANHATTAN', 'Unspecified QUEENS',
       'Unspecified STATEN ISLAND'

In [108]:
# Drop the marked districts

datacount = data.groupby(by='Community Board').count()

In [109]:
datac = pd.DataFrame(datacount['Created Date'])
datac.reset_index(inplace=True)
datac.columns = ['Community Board', 'Complaints Count']
datac.head(10)
datac = datac[datac['Community Board'] != '0 Unspecified']
datac = datac[datac['Community Board'] != 'Unspecified BRONX']
datac = datac[datac['Community Board'] != 'Unspecified BROOKLYN']
datac = datac[datac['Community Board'] != 'Unspecified MANHATTAN']
datac = datac[datac['Community Board'] != 'Unspecified QUEENS']
datac = datac[datac['Community Board'] != 'Unspecified STATEN ISLAND']

datac = datac[datac['Community Board'] != '18 BROOKLYN']
datac = datac[datac['Community Board'] != '26 BRONX']
datac = datac[datac['Community Board'] != '27 BRONX']
datac = datac[datac['Community Board'] != '28 BRONX']

datac = datac[datac['Community Board'] != '55 BROOKLYN']
datac = datac[datac['Community Board'] != '56 BROOKLYN']
datac = datac[datac['Community Board'] != '64 MANHATTAN']
datac = datac[datac['Community Board'] != '80 QUEENS']
datac = datac[datac['Community Board'] != '81 QUEENS']
datac = datac[datac['Community Board'] != '82 QUEENS']
datac = datac[datac['Community Board'] != '83 QUEENS']
datac = datac[datac['Community Board'] != '84 QUEENS']
datac = datac[datac['Community Board'] != '95 STATEN ISLAND']

     Community Board  Complaints Count
1           01 BRONX             37759
2        01 BROOKLYN            108419
3       01 MANHATTAN             38543
4          01 QUEENS            101774
5   01 STATEN ISLAND             96836
6           02 BRONX             27376
7        02 BROOKLYN             66862
8       02 MANHATTAN             65555
9          02 QUEENS             57888
10  02 STATEN ISLAND             62747
11          03 BRONX             35597
12       03 BROOKLYN            100538
13      03 MANHATTAN             84097
14         03 QUEENS             67787
15  03 STATEN ISLAND             74134
16          04 BRONX             79888
17       04 BROOKLYN             66646
18      04 MANHATTAN             71310
19         04 QUEENS             56194
20          05 BRONX             68754

In [115]:
datac['Community Board'][1]

'01 BRONX'

In [ ]:
# Produce your result: Generate an indicator which ranks the Community District by complaint numbers 
# on the Community district level

In [ ]:
# Safe reduced data frame (Community District level)

# 4. Think about the interpretation of your results?
What do you have to keep in mind when interpreting your results? Are they generable? Does the way the data is collected influence your results? To better inform city agancies it might be good to explore in more detail the underlying dempgraphics/infrastructure of a Community District becasue this might influence 311 calls. You can do this by merging external data on the Community District level to your analysis data.

In [125]:
# Population by Community District
df_pop = pd.read_csv(PUIdata + "/Final_Demographics.csv")
#df_pop = df_pop[[]]
x = df_pop.columns
#list(x)

In [126]:
df_pop.head()

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,...,"Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations","% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations",% Employed Civilian Population 16 Years And Over: Service occupations,% Employed Civilian Population 16 Years And Over: Sales and office occupations,"% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations","% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations"
0,3603701,BX08,106737,31229.95006,46.65,10.73,15.04,11.32,46.80,39.24,...,665,1518,42.66,28.95,20.89,0.24,2.65,4.60,1.40,3.20
1,3603702,BX12,134644,19966.67839,46.35,11.35,14.29,12.57,73.09,18.19,...,1156,4174,29.57,33.98,20.40,0.00,7.08,8.97,1.95,7.02
2,3603703,BX10,121209,12913.81703,45.20,8.62,13.74,12.78,61.79,26.43,...,941,3433,36.20,22.85,25.09,0.00,7.68,8.18,1.76,6.42
3,3603704,BX11,135839,35677.95453,50.09,8.10,17.43,14.09,43.22,36.45,...,2189,5592,30.06,27.86,22.24,0.00,7.03,12.81,3.60,9.20
4,3603705,BX03,172247,39405.79222,44.72,14.24,14.89,12.38,36.82,54.24,...,1437,5436,16.80,41.00,22.29,0.03,8.45,11.43,2.39,9.04

In [127]:
df_pop = df_pop[['cd_id', 'Total Population','% Total Population: Male','Median household income (In 2014 Inflation Adjusted Dollars)',
 'Per capita income (In 2014 Inflation Adjusted Dollars)']]

In [128]:
df_pop.head()

,cd_id,Total Population,% Total Population: Male,Median household income (In 2014 Inflation Adjusted Dollars),Per capita income (In 2014 Inflation Adjusted Dollars)
0,BX08,106737,46.65,54224,30730
1,BX12,134644,46.35,44906,21523
2,BX10,121209,45.20,54962,28586
3,BX11,135839,50.09,47910,22714
4,BX03,172247,44.72,22041,12662

In [132]:
df_pop['cd_id']
df_pop = df_pop[df_pop['cd_id'] != 'MN11111']

In [112]:
datac['cd_id'] = 'solve'

In [100]:
if datac['Community Board'][1][3:] == 'BRONX':
    datac['cd_id'][1] = 'BR'+datac['Community Board'][1][:3]
datac['cd_id'][1]

C:\Users\ferna\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

'BR01 '

In [133]:
for i in range(len(datac)):
    i+=1
    if datac['Community Board'][i][3:] == 'BRONX':
        datac['cd_id'][i]='BR'+datac['Community Board'][i][:3]

    if datac['Community Board'][i][3:] == 'MANHATTAN':
        datac['cd_id'][i]='MN'+datac['Community Board'][i][:3]

    if datac['Community Board'][i][3:] == 'STATEN ISLAND':
        datac['cd_id'][i]='SI'+datac['Community Board'][i][:3]
    if datac['Community Board'][i][3:] == 'BROOKLYN':
        datac['cd_id'][i]='BK'+datac['Community Board'][i][:3]

    if datac['Community Board'][i][3:] == 'QUEENS':
        datac['cd_id'][i]='QN'+datac['Community Board'][i][:3]
datac.head(5)

C:\Users\ferna\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ferna\Anaconda2\lib\site-packages\ipykernel\__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ferna\Anaconda2\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ferna\Anaconda2\lib\site-packages\ipykernel\__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ferna\Anaconda2\lib\site-packages\ipykernel\__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

    Community Board  Complaints Count  cd_id
1          01 BRONX             37759  BR01
2       01 BROOKLYN            108419  BK01
3      01 MANHATTAN             38543  MN01
4         01 QUEENS            101774  QN01
5  01 STATEN ISLAND             96836  SI01

In [67]:
# Check variables in file

In [68]:
# How many community districts are in file?

In [69]:
# Manipulate data to get some information on demographics by Community District. 
# Think about who might be more likely to call 311

In [70]:
# Save data frame

In [134]:
# Infrastructure by Community District
df_infr = pd.read_csv(PUIdata + "/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")

In [136]:
df_infr.columns

Index([u'FIPS', u'Geographic Identifier', u'Qualifying Name', u'Households',
       u'Households: With An Internet Subscription',
       u'Households: Dial-Up Alone', u'Households: Dsl',
       u'Households: With Mobile Broadband',
       u'Households: Without Mobile Broadband', u'Households: Cable Modem',
       u'Households: With Mobile Broadband.1',
       u'Households: Without Mobile Broadband.1', u'Households: Fiber-Optic',
       u'Households: With Mobile Broadband.2',
       u'Households: Without Mobile Broadband.2',
       u'Households: Satellite Internet Service',
       u'Households: With Mobile Broadband.3',
       u'Households: Without Mobile Broadband.3',
       u'Households: Two or More Fixed Broadband Types, or Other',
       u'Households: With Mobile Broadband.4',
       u'Households: Without Mobile Broadband.4',
       u'Households: Mobile Broadband Alone or With Dialup',
       u'Households: Internet Access Without A Subscription',
       u'Households: No Internet Access',
       u'% Households: With An Internet Subscription', u'Households.1',
       u'Households: Has A Computer',
       u'Households: With Dial-Up Internet Subscription Alone',
       u'Households: With A Broadband Internet Subscription',
       u'Households: Without An Internet Subscription',
       u'Households: No Computer'],
      dtype='object')

In [ ]:
Index([ u'Qualifying Name', u'Households',
       u'Households: With An Internet Subscription',

       u'Households: With Mobile Broadband',
       
       u'Households: Internet Access Without A Subscription',
       u'Households: No Internet Access',
      
       u'Households: Has A Computer',

In [135]:
df_infr.head()

,FIPS,Geographic Identifier,Qualifying Name,Households,Households: With An Internet Subscription,Households: Dial-Up Alone,Households: Dsl,Households: With Mobile Broadband,Households: Without Mobile Broadband,Households: Cable Modem,...,Households: Mobile Broadband Alone or With Dialup,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,Households.1,Households: Has A Computer,Households: With Dial-Up Internet Subscription Alone,Households: With A Broadband Internet Subscription,Households: Without An Internet Subscription,Households: No Computer
0,3603701,79500US3603701,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,444,2813,946,1867,19178,...,2168,2119,8121,75.64,42035,35048,404,30943,3701,6987
1,3603702,79500US3603702,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,178,849,405,444,18653,...,928,1891,10696,71.92,44830,36700,178,31435,5087,8130
2,3603703,79500US3603703,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,158,1863,398,1465,20044,...,639,2882,11439,69.56,47050,38700,158,32333,6209,8350
3,3603704,79500US3603704,NYC-Bronx Community District 11--Pelham Parkwa...,44922,32003,141,1478,474,1004,17917,...,1001,2722,10197,71.24,44922,37237,122,31278,5837,7685
4,3603705,79500US3603705,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,88,1297,651,646,15847,...,1385,3312,18741,61.68,57556,42576,88,33408,9080,14980

In [ ]:
# Check variables in file

In [ ]:
# How many community districts are in file?

In [ ]:
# Manipulate data to get some information on internet/broadband useage by Community District
# Aggregate the mobile subscription data

In [ ]:
# Aggregate internet type by high and low connections

In [ ]:
# Save data frame

# 5. Inform your results by linking datasets
Now you want to link the three data frames to produce summary statistics for Community Districts which show a high number of complaints vs. Community Districts which show a lower number of complaints. Please keep in mind that the identifiers used for the linkage (Community Dostrict IDs) should be recored the same way. Use regular expressions to harmonize the identifiers if possible. The identifiers should look like BK01, BK02, etc.
https://docs.python.org/2/library/re.html

In [ ]:
# Harmonize identifier of dataframe 1

In [ ]:
# Harmonize identifier of dataframe 2

In [ ]:
# Harmonize identifier of dataframe 3

In [ ]:
# Link the 3 dataframes

In [ ]:
# Are the demographics and infrastructure different in Community Districts that show more complaints than others?