# Working with Data - Computer Lab for Guest Lecture Julia Lane

In this computer lab we will learn more more details and practice data work to enhance the content of the lecture presented by Julia Lane on responsible data use. We will address a research question, think about data and measurement errors, and manipulate data. 

OUTLINE: 
1. Define a research question 
2. Think about what data are available 
3. Think about possible measurement errors 
4. Think about the interpretation of your results 
5. Inform your results by linking datasets

# 1. Define a reserach question
Which Community Districts in NYC show the highest number of complaints?

# 2. Think about what data are available
Find suitable data by searching the CUSP Data Catalog https://datahub.cusp.nyu.edu/catalog. You can use Urban Profiler to investigate the Metadata associated with each dataset. Using this tool will help you to decide which attributes of the data you need to answer your question so you don't have to load the entire dataset.

In [3]:
import os
import pandas as pd
import numpy as np
import re
PUIdata = os.getenv('PUIDATA')

In [8]:
# Load dataset
data = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9') 
#311_Service_Requests_from_2010_to_Present.csv
data.head(3)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,31911011,11/05/2015 02:59:15 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,11224,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.573431,-73.991742,"(40.57343122248129, -73.99174247588253)"
1,31908754,11/05/2015 02:09:49 AM,NaN,CHALL,CHALL,Opinion for the Mayor,HOUSING,NaN,NaN,NaN,...,NaN,NaN,NaN,1-1-1173130914,NaN,NaN,NaN,NaN,NaN,NaN
2,31910423,11/05/2015 02:06:51 AM,NaN,DPR,Department of Parks and Recreation,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,Street,11234,1157 EAST 57 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.625004,-73.920726,"(40.62500363580505, -73.92072558378698)"

In [11]:
data = data[['Unique Key','Created Date','Agency Name','Complaint Type','Descriptor','Community Board','Borough']]

# 3. Think about possible measurement errors
Do you see any problems regarding possible measurement error? Think about who is represented in the data, ommissions, duplications, content error, missing data, etc.

In [12]:
x =list(data.columns)
x

['Unique Key',
 'Created Date',
 'Agency Name',
 'Complaint Type',
 'Descriptor',
 'Community Board',
 'Borough']

In [13]:
# Check if all Boroughs and Community Districts are represented in the Data 
borough = data['Borough'].unique()
borough

array(['BROOKLYN', 'Unspecified', 'STATEN ISLAND', 'MANHATTAN', 'BRONX',
       'QUEENS'], dtype=object)

In [14]:
len(borough) #should be 5

6

In [15]:
communityB = data['Community Board'].unique()
type(communityB)#.sort_values

numpy.ndarray

In [16]:
len(communityB) #we should have 59

77

Manhattan	
1 2 3 4 5 6 7 8 9 10 11 12
The Bronx	
1 2 3 4 5 6 7 8 9 10 11 12
Brooklyn	
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18
Queens	
1 2 3 4 5 6 7 8 9 10 11 12 13 14
Staten Island	
1 2 3

In [17]:
np.sort(communityB)

array(['0 Unspecified', '01 BRONX', '01 BROOKLYN', '01 MANHATTAN',
       '01 QUEENS', '01 STATEN ISLAND', '02 BRONX', '02 BROOKLYN',
       '02 MANHATTAN', '02 QUEENS', '02 STATEN ISLAND', '03 BRONX',
       '03 BROOKLYN', '03 MANHATTAN', '03 QUEENS', '03 STATEN ISLAND',
       '04 BRONX', '04 BROOKLYN', '04 MANHATTAN', '04 QUEENS', '05 BRONX',
       '05 BROOKLYN', '05 MANHATTAN', '05 QUEENS', '06 BRONX',
       '06 BROOKLYN', '06 MANHATTAN', '06 QUEENS', '07 BRONX',
       '07 BROOKLYN', '07 MANHATTAN', '07 QUEENS', '08 BRONX',
       '08 BROOKLYN', '08 MANHATTAN', '08 QUEENS', '09 BRONX',
       '09 BROOKLYN', '09 MANHATTAN', '09 QUEENS', '10 BRONX',
       '10 BROOKLYN', '10 MANHATTAN', '10 QUEENS', '11 BRONX',
       '11 BROOKLYN', '11 MANHATTAN', '11 QUEENS', '12 BRONX',
       '12 BROOKLYN', '12 MANHATTAN', '12 QUEENS', '13 BROOKLYN',
       '13 QUEENS', '14 BROOKLYN', '14 QUEENS', '15 BROOKLYN',
       '16 BROOKLYN', '17 BROOKLYN', '18 BROOKLYN', '26 BRONX', '27 BRONX',
       '28 BRONX', '55 BROOKLYN', '56 BROOKLYN', '64 MANHATTAN',
       '80 QUEENS', '81 QUEENS', '82 QUEENS', '83 QUEENS', '84 QUEENS',
       '95 STATEN ISLAND', 'Unspecified BRONX', 'Unspecified BROOKLYN',
       'Unspecified MANHATTAN', 'Unspecified QUEENS',
       'Unspecified STATEN ISLAND'], dtype=object)

In [18]:
# How many unique values do we have? 
len(data)

10187766

In [ ]:
# Why do we have so many? Some of them are unspecified, missing. Some might be invalid entries. 
# We should have 59 Community Districts.

In [19]:
# Check for duplicates? Are these plausible?
data.drop_duplicates(inplace=True)
len(data)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/pandas/util/decorators.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return func(*args, **kwargs)

10187744

In [22]:
# What about missing values? Can you detect any patterns? 
len(pd.isnull(data == True))

10187744

In [23]:
data.head(5)

,Unique Key,Created Date,Agency Name,Complaint Type,Descriptor,Community Board,Borough
0,31911011,11/05/2015 02:59:15 AM,Department of Transportation,Street Condition,Pothole,13 BROOKLYN,BROOKLYN
1,31908754,11/05/2015 02:09:49 AM,CHALL,Opinion for the Mayor,HOUSING,0 Unspecified,Unspecified
2,31910423,11/05/2015 02:06:51 AM,Department of Parks and Recreation,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,18 BROOKLYN,BROOKLYN
3,31909924,11/05/2015 02:02:20 AM,New York City Police Department,Illegal Parking,Blocked Hydrant,12 BROOKLYN,BROOKLYN
4,31913310,11/05/2015 01:57:20 AM,HRA Benefit Card Replacement,Benefit Card Replacement,Medicaid,0 Unspecified,Unspecified

In [ ]:
# Data Editing: Is it possible to replace missing values? Is it possible to use Complaint Type 
# to fill missings in Resolution Descriptor?

In [ ]:
# Generate marker for unplausible Community Districts
# How do these districts look like?

In [24]:
# Drop the marked districts

datacount = data.groupby(by='Community Board').count()

In [25]:
datac = pd.DataFrame(datacount['Created Date'])
datac.reset_index(inplace=True)
datac.columns = ['Community Board', 'Complaints Count']
datac.head(10)
datac = datac[datac['Community Board'] != '0 Unspecified']
datac = datac[datac['Community Board'] != 'Unspecified BRONX']
datac = datac[datac['Community Board'] != 'Unspecified BROOKLYN']
datac = datac[datac['Community Board'] != 'Unspecified MANHATTAN']
datac = datac[datac['Community Board'] != 'Unspecified QUEENS']
datac = datac[datac['Community Board'] != 'Unspecified STATEN ISLAND']

datac = datac[datac['Community Board'] != '18 BROOKLYN']
datac = datac[datac['Community Board'] != '26 BRONX']
datac = datac[datac['Community Board'] != '27 BRONX']
datac = datac[datac['Community Board'] != '28 BRONX']

datac = datac[datac['Community Board'] != '55 BROOKLYN']
datac = datac[datac['Community Board'] != '56 BROOKLYN']
datac = datac[datac['Community Board'] != '64 MANHATTAN']
datac = datac[datac['Community Board'] != '80 QUEENS']
datac = datac[datac['Community Board'] != '81 QUEENS']
datac = datac[datac['Community Board'] != '82 QUEENS']
datac = datac[datac['Community Board'] != '83 QUEENS']
datac = datac[datac['Community Board'] != '84 QUEENS']
datac = datac[datac['Community Board'] != '95 STATEN ISLAND']

In [26]:
datac['Community Board'][1]

'01 BRONX'

In [28]:
len(datac)

58

In [29]:
datac

     Community Board  Complaints Count
1           01 BRONX             74631
2        01 BROOKLYN            185057
3       01 MANHATTAN             77974
4          01 QUEENS            171484
5   01 STATEN ISLAND            182708
6           02 BRONX             60257
7        02 BROOKLYN            121021
8       02 MANHATTAN            133860
9          02 QUEENS            114333
10  02 STATEN ISLAND            121132
11          03 BRONX             75134
12       03 BROOKLYN            197305
13      03 MANHATTAN            150296
14         03 QUEENS            122009
15  03 STATEN ISLAND            136487
16          04 BRONX            181953
17       04 BROOKLYN            139702
18      04 MANHATTAN            132659
19         04 QUEENS             99316
20          05 BRONX            161078
21       05 BROOKLYN            189765
22      05 MANHATTAN            142028
23         05 QUEENS            168570
24          06 BRONX             99547
25       06 BROOKLYN            114029
26      06 MANHATTAN            104249
27         06 QUEENS             90938
28          07 BRONX            185729
29       07 BROOKLYN            107031
30      07 MANHATTAN            151419
31         07 QUEENS            195961
32          08 BRONX             92733
33       08 BROOKLYN            141118
34      08 MANHATTAN            149076
35         08 QUEENS            123131
36          09 BRONX            147457
37       09 BROOKLYN            135830
38      09 MANHATTAN            127564
39         09 QUEENS            151242
40          10 BRONX             95496
41       10 BROOKLYN            111837
42      10 MANHATTAN            137344
43         10 QUEENS            128116
44          11 BRONX            122079
45       11 BROOKLYN            139890
46      11 MANHATTAN             95413
47         11 QUEENS            101908
48          12 BRONX            168455
49       12 BROOKLYN            150320
50      12 MANHATTAN            268053
51         12 QUEENS            229383
52       13 BROOKLYN             72362
53         13 QUEENS            163851
54       14 BROOKLYN            187792
55         14 QUEENS            103396
56       15 BROOKLYN            146129
57       16 BROOKLYN             85466
58       17 BROOKLYN            191720

In [ ]:
# Produce your result: Generate an indicator which ranks the Community District by complaint numbers 
# on the Community district level

In [ ]:
# Safe reduced data frame (Community District level)

# 4. Think about the interpretation of your results?
What do you have to keep in mind when interpreting your results? Are they generable? Does the way the data is collected influence your results? To better inform city agancies it might be good to explore in more detail the underlying dempgraphics/infrastructure of a Community District becasue this might influence 311 calls. You can do this by merging external data on the Community District level to your analysis data.

In [33]:
PUIdata

'/home/cusp/lmf445/PUIdata'

In [34]:
# Population by Community District
df_pop = pd.read_csv(PUIdata + "/Final_Demographics.csv")
#df_pop = df_pop[[]]
x = df_pop.columns
#list(x)

In [35]:
df_pop.head()

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,...,"Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations","% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations",% Employed Civilian Population 16 Years And Over: Service occupations,% Employed Civilian Population 16 Years And Over: Sales and office occupations,"% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations","% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations"
0,3603701,BX08,106737,31229.95006,46.65,10.73,15.04,11.32,46.80,39.24,...,665,1518,42.66,28.95,20.89,0.24,2.65,4.60,1.40,3.20
1,3603702,BX12,134644,19966.67839,46.35,11.35,14.29,12.57,73.09,18.19,...,1156,4174,29.57,33.98,20.40,0.00,7.08,8.97,1.95,7.02
2,3603703,BX10,121209,12913.81703,45.20,8.62,13.74,12.78,61.79,26.43,...,941,3433,36.20,22.85,25.09,0.00,7.68,8.18,1.76,6.42
3,3603704,BX11,135839,35677.95453,50.09,8.10,17.43,14.09,43.22,36.45,...,2189,5592,30.06,27.86,22.24,0.00,7.03,12.81,3.60,9.20
4,3603705,BX03,172247,39405.79222,44.72,14.24,14.89,12.38,36.82,54.24,...,1437,5436,16.80,41.00,22.29,0.03,8.45,11.43,2.39,9.04

In [36]:
df_pop = df_pop[['cd_id', 'Total Population','% Total Population: Male','Median household income (In 2014 Inflation Adjusted Dollars)',
 'Per capita income (In 2014 Inflation Adjusted Dollars)']]

In [37]:
df_pop.head()

,cd_id,Total Population,% Total Population: Male,Median household income (In 2014 Inflation Adjusted Dollars),Per capita income (In 2014 Inflation Adjusted Dollars)
0,BX08,106737,46.65,54224,30730
1,BX12,134644,46.35,44906,21523
2,BX10,121209,45.20,54962,28586
3,BX11,135839,50.09,47910,22714
4,BX03,172247,44.72,22041,12662

In [38]:
df_pop['cd_id']
df_pop = df_pop[df_pop['cd_id'] != 'MN11111']

In [39]:
datac['cd_id'] = 'solve'

In [40]:
if datac['Community Board'][1][3:] == 'BRONX':
    datac['cd_id'][1] = 'BR'+datac['Community Board'][1][:3]
datac['cd_id'][1]

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

'BR01 '

In [41]:
for i in range(len(datac)):
    i+=1
    if datac['Community Board'][i][3:] == 'BRONX':
        datac['cd_id'][i]='BR'+datac['Community Board'][i][:3]

    if datac['Community Board'][i][3:] == 'MANHATTAN':
        datac['cd_id'][i]='MN'+datac['Community Board'][i][:3]

    if datac['Community Board'][i][3:] == 'STATEN ISLAND':
        datac['cd_id'][i]='SI'+datac['Community Board'][i][:3]
    if datac['Community Board'][i][3:] == 'BROOKLYN':
        datac['cd_id'][i]='BK'+datac['Community Board'][i][:3]

    if datac['Community Board'][i][3:] == 'QUEENS':
        datac['cd_id'][i]='QN'+datac['Community Board'][i][:3]
datac.head(5)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

    Community Board  Complaints Count  cd_id
1          01 BRONX             74631  BR01
2       01 BROOKLYN            185057  BK01
3      01 MANHATTAN             77974  MN01
4         01 QUEENS            171484  QN01
5  01 STATEN ISLAND            182708  SI01

In [ ]:
# Check variables in file

In [ ]:
# How many community districts are in file?

In [ ]:
# Manipulate data to get some information on demographics by Community District. 
# Think about who might be more likely to call 311

In [ ]:
# Save data frame

In [43]:
# Infrastructure by Community District
df_infr = pd.read_csv(PUIdata + "/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")

In [44]:
x= list(df_infr.columns)
x

['FIPS',
 'Geographic Identifier',
 'Qualifying Name',
 'Households',
 'Households: With An Internet Subscription',
 'Households: Dial-Up Alone',
 'Households: Dsl',
 'Households: With Mobile Broadband',
 'Households: Without Mobile Broadband',
 'Households: Cable Modem',
 'Households: With Mobile Broadband.1',
 'Households: Without Mobile Broadband.1',
 'Households: Fiber-Optic',
 'Households: With Mobile Broadband.2',
 'Households: Without Mobile Broadband.2',
 'Households: Satellite Internet Service',
 'Households: With Mobile Broadband.3',
 'Households: Without Mobile Broadband.3',
 'Households: Two or More Fixed Broadband Types, or Other',
 'Households: With Mobile Broadband.4',
 'Households: Without Mobile Broadband.4',
 'Households: Mobile Broadband Alone or With Dialup',
 'Households: Internet Access Without A Subscription',
 'Households: No Internet Access',
 '% Households: With An Internet Subscription',
 'Households.1',
 'Households: Has A Computer',
 'Households: With Dial-Up Internet Subscription Alone',
 'Households: With A Broadband Internet Subscription',
 'Households: Without An Internet Subscription',
 'Households: No Computer']

In [52]:
df_infr = df_infr[['Qualifying Name', 'Households', 'Households: With An Internet Subscription',\
                   'Households: Dial-Up Alone','Households: Dsl','Households: With Mobile Broadband',\
                   'Households: Cable Modem','Households: Fiber-Optic',\
                   'Households: Satellite Internet Service',\
                   'Households: No Internet Access']]

In [83]:
df_infr.head(50)

,Qualifying Name,Households,Households: With An Internet Subscription,Households: Dial-Up Alone,Households: Dsl,Households: With Mobile Broadband,Households: Cable Modem,Households: Fiber-Optic,Households: Satellite Internet Service,Households: No Internet Access
0,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,444,2813,946,19178,939,75,8121
1,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,178,849,405,18653,6216,131,10696
2,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,158,1863,398,20044,3490,0,11439
3,NYC-Bronx Community District 11--Pelham Parkwa...,44922,32003,141,1478,474,17917,5435,308,10197
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,88,1297,651,15847,1510,194,18741
5,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,88,1297,651,15847,1510,194,18741
6,"NYC-Bronx Community District 7--Bedford Park, ...",47252,31468,0,1598,502,18280,2748,0,11129
7,NYC-Bronx Community District 5--Morris Heights...,44699,26332,54,956,352,11333,142,361,15387
8,"NYC-Bronx Community District 4--Concourse, New...",47935,29376,316,301,73,14610,1142,416,14858
9,"NYC-Bronx Community District 9--Castle Hill, N...",64011,45976,180,1536,296,23999,6507,489,16164
10,NYC-Bronx Community District 1 & 2--Hunts Poin...,52191,32713,0,982,360,17281,2094,1145,17066
11,NYC-Bronx Community District 1 & 2--Hunts Poin...,52191,32713,0,982,360,17281,2094,1145,17066
12,NYC-Manhattan Community District 12--Washingto...,75352,56940,306,5396,1286,39512,1338,1493,16275
13,NYC-Manhattan Community District 9--Hamilton H...,47440,35281,167,3267,1659,19344,2700,1244,10319
14,NYC-Manhattan Community District 10--Central H...,57064,36469,167,3022,742,23764,2376,267,17869
15,NYC-Manhattan Community District 11--East Harl...,49721,30630,464,2952,584,19468,3095,390,17288
16,NYC-Manhattan Community District 8--Upper East...,114838,103065,121,8845,4497,68219,14030,703,8773
17,NYC-Manhattan Community District 7--Upper West...,97229,85575,107,7758,3606,53973,8321,426,8634
18,NYC-Manhattan Community District 4 & 5--Chelse...,82762,70067,53,5890,2289,42358,12932,276,9365
19,NYC-Manhattan Community District 4 & 5--Chelse...,82762,70067,53,5890,2289,42358,12932,276,9365
20,NYC-Manhattan Community District 6--Murray Hil...,80268,70507,542,3413,1576,45618,13983,216,7836
21,NYC-Manhattan Community District 3--Chinatown ...,73578,46168,319,4951,2379,28712,5523,258,22408
22,NYC-Manhattan Community District 1 & 2--Batter...,83976,74694,132,4862,2565,47820,13496,458,6193
23,NYC-Manhattan Community District 1 & 2--Batter...,83976,74694,132,4862,2565,47820,13496,458,6193
24,NYC-Staten Island Community District 3--Totten...,57658,49218,0,1885,715,14088,25548,331,6619
25,NYC-Staten Island Community District 2--New Sp...,45266,35085,89,1169,346,12255,15315,563,9049
26,NYC-Staten Island Community District 1--Port R...,62047,47186,162,1851,355,18107,21211,292,13521
27,NYC-Brooklyn Community District 1--Greenpoint ...,62990,47013,449,4406,1665,30662,5945,149,13526
28,NYC-Brooklyn Community District 4--Bushwick PU...,47580,33314,0,2181,656,22785,725,139,12364
29,NYC-Brooklyn Community District 3--Bedford-Stu...,50688,33438,110,3000,1086,22073,730,644,15567
30,NYC-Brooklyn Community District 2--Brooklyn He...,57188,46110,300,4202,1989,30524,5541,262,8780
31,"NYC-Brooklyn Community District 6--Park Slope,...",49709,44770,57,4567,2630,31445,3636,299,4225
32,NYC-Brooklyn Community District 8--Crown Heigh...,50266,35043,91,2625,878,26522,1569,442,13341
33,NYC-Brooklyn Community District 16--Brownsvill...,44269,25372,64,1618,230,19304,998,432,16845
34,NYC-Brooklyn Community District 5--East New Yo...,55136,37464,85,1051,445,28857,2547,427,15875
35,NYC-Brooklyn Community District 18--Canarsie &...,69980,54253,176,2413,915,26654,13081,331,13076
36,NYC-Brooklyn Community District 17--East Flatb...,50711,35675,256,1339,251,23872,5332,366,13852
37,NYC-Brooklyn Community District 9--Crown Heigh...,41281,28686,334,2097,520,20991,978,564,11362
38,NYC-Brooklyn Community District 7--Sunset Park...,45848,35725,84,2923,1051,26610,1552,206,8978
39,NYC-Brooklyn Community District 10--Bay Ridge ...,48591,37983,327,4781,1520,18034,4856,408,8870
40,NYC-Brooklyn Community District 12--Borough Pa...,46062,28128,268,4239,1437,16406,1215,271,15536
41,NYC-Brooklyn Community District 14--Flatbush &...,61174,45090,272,4106,1368,31894,1764,357,13919
42,NYC-Brooklyn Community District 15--Sheepshead...,53639,40467,348,4298,636,20802,6339,522,11465
43,NYC-Brooklyn Community District 11--Bensonhurs...,62220,46126,164,4853,1443,23723,4572,667,13588
44,NYC-Brooklyn Community District 13--Brighton B...,45070,28238,191,7133,894,12656,2534,301,15552
45,NYC-Queens Community District 1--Astoria & Lon...,75758,61861,277,7822,2960,44329,2143,492,12082
46,NYC-Queens Community District 3--Jackson Heigh...,56146,40561,202,4049,682,26664,4662,225,14055
47,"NYC-Queens Community District 7--Flushing, New...",89206,68446,150,5444,1271,39842,16425,197,19514
48,"NYC-Queens Community District 11--Bayside, New...",43279,37361,79,2213,660,15502,14251,235,5297
49,NYC-Queens Community District 13--Queens Villa...,59953,50330,383,1877,446,18820,19609,623,8035

In [98]:
df_infr['cd_id'] = 'solve'

In [99]:
for i in range(len(df_infr)):
    x = df_infr['Qualifying Name'][i]
    y = x.split('-', 2 )
    y[1][-2:]
    z = x.split(' ', 1 )
    z = z[0].split('-',1)

    if z[1] == 'Bronx':
        df_infr['cd_id'][i] = 'BR' + y[1][-2:].replace(" ", "0")
    if z[1] == 'Manhattan':
        df_infr['cd_id'][i] = 'MN' + y[1][-2:].replace(" ", "0")
    if z[1] == 'Staten':
        df_infr['cd_id'][i] = 'SI' + y[1][-2:].replace(" ", "0")
    if z[1] == 'Brooklyn':
        df_infr['cd_id'][i] = 'BK' + y[1][-2:].replace(" ", "0")
    if z[1] == 'Queens':
        df_infr['cd_id'][i] = 'QN' + y[1][-2:].replace(" ", "0")

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [103]:
df_infr.head(3)

,Qualifying Name,Households,Households: With An Internet Subscription,Households: Dial-Up Alone,Households: Dsl,Households: With Mobile Broadband,Households: Cable Modem,Households: Fiber-Optic,Households: Satellite Internet Service,Households: No Internet Access,cd_id
0,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,444,2813,946,19178,939,75,8121,BR08
1,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,178,849,405,18653,6216,131,10696,BR12
2,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,158,1863,398,20044,3490,0,11439,BR10

In [105]:
df_infr['cd_id'].unique()

array(['BR08', 'BR12', 'BR10', 'BR11', 'BR06', 'BR07', 'BR05', 'BR04',
       'BR09', 'BR02', 'MN12', 'MN09', 'MN10', 'MN11', 'MN08', 'MN07',
       'MN05', 'MN06', 'MN03', 'MN02', 'SI03', 'SI02', 'SI01', 'BK01',
       'BK04', 'BK03', 'BK02', 'BK06', 'BK08', 'BK16', 'BK05', 'BK18',
       'BK17', 'BK09', 'BK07', 'BK10', 'BK12', 'BK14', 'BK15', 'BK11',
       'BK13', 'QN01', 'QN03', 'QN07', 'QN11', 'QN13', 'QN08', 'QN04',
       'QN06', 'QN02', 'QN05', 'QN09', 'QN12', 'QN10', 'QN14'], dtype=object)

In [ ]:
# Check variables in file    BR01

In [ ]:
# How many community districts are in file?

In [ ]:
# Manipulate data to get some information on internet/broadband useage by Community District
# Aggregate the mobile subscription data

In [ ]:
# Aggregate internet type by high and low connections

In [ ]:
# Save data frame

# 5. Inform your results by linking datasets
Now you want to link the three data frames to produce summary statistics for Community Districts which show a high number of complaints vs. Community Districts which show a lower number of complaints. Please keep in mind that the identifiers used for the linkage (Community Dostrict IDs) should be recored the same way. Use regular expressions to harmonize the identifiers if possible. The identifiers should look like BK01, BK02, etc.
https://docs.python.org/2/library/re.html

In [ ]:
# Harmonize identifier of dataframe 1

In [ ]:
# Harmonize identifier of dataframe 2

In [ ]:
# Harmonize identifier of dataframe 3

In [ ]:
# Link the 3 dataframes

In [ ]:
# Are the demographics and infrastructure different in Community Districts that show more complaints than others?